<a href="https://colab.research.google.com/github/Speakful/Speakful.github.io/blob/main/(4.12)_Ejercicios_Python_Basisc_I_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## EJERCICIOS PYTHON BASICO 4:
## Funciones, métodos, listas

Completa los siguiente ejercicios, la solución completa a los mismos se publicarán en el repo del curso a lo largo del sprint. En algunos ejercicios se muestra la solución final, para que puedas comprobar que lo has hecho bien, pero lo importante es el código que generes. ¡Vaaamos, a ello...!

## Ejercicio 1
Para este ejercicio vamos a poner en práctica [las funciones built in](https://docs.python.org/3/library/functions.html).

1. Calcula el máximo de la lista: [4, 6, 8, -1]
2. Suma todos los elementos de la lista anterior
3. Redondea este float a 3 dígitos decimales: 63.451256965
4. Valor absoluto de: -74

In [ ]:
print(max(4, 6, 8, -1))

print(4 + 6 + 8 - 1)

print(round(63.451256965, 3))

print(abs(-74))

8
17
63.451
74

## Ejercicio 2
Para el siguiente string se pide imprimir por pantalla los siguientes casos

    "En un lugar de la Mancha, de cuyo nombre no quiero acordarme."

1. Pásalo todo a mayúsculas
2. Pásalo todo a minúsculas
3. Solo la primera letra de cada palabra en mayúscula, el resto en minúscula
4. Crea una lista dividiéndolo por sus espacios
5. Sustituye las comas `,` por puntos y comas `;`
6. Elimina las `a` minúsculas

In [ ]:
print("En un lugar de la Mancha, de cuyo nombre no quiero acordarme.".upper())

print("En un lugar de la Mancha, de cuyo nombre no quiero acordarme.". lower())

print(("En un lugar de la Mancha, de cuyo nombre no quiero acordarme.").title())

print("En un lugar de la Mancha, de cuyo nombre no quiero acordarme.".split())

print("En un lugar de la Mancha, de cuyo nombre no quiero acordarme.".replace("," , "."))

print("En un lugar de la Mancha, de cuyo nombre no quiero acordarme.".replace("a" , ""))

EN UN LUGAR DE LA MANCHA, DE CUYO NOMBRE NO QUIERO ACORDARME.
en un lugar de la mancha, de cuyo nombre no quiero acordarme.
En Un Lugar De La Mancha, De Cuyo Nombre No Quiero Acordarme.
['En', 'un', 'lugar', 'de', 'la', 'Mancha,', 'de', 'cuyo', 'nombre', 'no', 'quiero', 'acordarme.']
En un lugar de la Mancha. de cuyo nombre no quiero acordarme.
En un lugr de l Mnch, de cuyo nombre no quiero cordrme.

## Ejercicio 3
1. Crea una lista con 3 elementos numéricos
2. Añade un cuarto elemento
3. Calcula la suma de todos
4. Elimina el segundo elemento de la lista
5. Añade otro elemento en la posicion 3 de la lista
6. Crea otra lista con 4 elementos y concaténala a la que ya tenías.
7. Ordena la lista de menor a mayor.
8. BONUS: Ordena la lista de mayor a menor.  
(*PISTA: Para hacer 8, tendrás que buscar en la información del método...*)  
  
  
NOTA: Pinta por pantalla el resultado de cada paso.

In [ ]:
list = [6, 1, 9]

list.insert(3, 11)
print(list)

print(sum(list))

list.pop(1)
print(list)

list.insert(2, 15)
print(list)

list_2 = [6, 9, 6, 3]
concatenacion = list + list_2
print(concatenacion)

concatenacion.sort()
print(concatenacion)

concatenacion.sort(reverse = True)
print(concatenacion)

[6, 1, 9, 11]
27
[6, 9, 11]
[6, 9, 15, 11]
[6, 9, 15, 11, 6, 9, 6, 3]
[3, 6, 6, 6, 9, 9, 11, 15]
[15, 11, 9, 9, 6, 6, 6, 3]